.root {
	-fx-background-color: black;
	-fx-font-family: ArcadeClassic;
	-fx-text-fill: white;
}
.button{
	-fx-background-color: gray;
	-fx-background-radius: 15;
	-fx-text-fill: white;
}
.dialog-pane > .content.label {
   -fx-font-size:30px;
}
.dialog-pane:header .header-panel {
    -fx-background-color: black;
}
.button:hover{
	-fx-effect: innershadow(gaussian, black, 20, 0.5, 0, 0);
}
.label{
	-fx-text-fill: white;
}
.choice-box{
	-fx-background-color: gray;
	-fx-background-radius: 15;
}
.choice-box .context-menu {
	-fx-background-color: transparent;
	-fx-text-fill: black;
}
.check-box .box{
	-fx-background-color: gray;	
}
.check-box:selected .box > .mark{
	-fx-background-color: white;
}
#gameOverImage{
	-fx-image: url("/game_over.gif");
	-fx-effect: dropshadow(three-pass-box, rgb(90, 80, 100), 30, 0.5, 0, 0);
}
#menuImage{
	-fx-image: url("/frogger_title.gif"); 
	-fx-effect: dropshadow(three-pass-box, rgb(100, 100, 150), 30, 0.5, 0, 0);
}
#gameText{
	-fx-fill: white;
}
#new-mod-alert{
	-fx-text-fill: yellow;
}